/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
  padding: 80px;
}

.content-mid-header {
  background: #444;
  width: 80%;
  height: 10%;
}

.content-container {
  width: 60vw;
  height: 75vh;
}

.content {
  background: #D8D8D8;
  padding: 150px 20px 20px 20px;
  width: 80%;
  height: 60%;
  text-align: center;
}
